= form_for @store, html: { class: "form-horizontal store" } do |f|
  - if @store.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@store.errors.count, "error")
          prohibited this article from being saved:
      .panel-body
        %ul
          - @store.errors.full_messages.each do |msg|
            %li= msg

  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control'

  .control-group
    = f.label :addresses, class: 'control-label'
    .controls
      = f.text_field :addresses, class: 'form-control'

  %br
  = f.submit nil, class: 'btn btn-primary'
  = link_to "Cancel", stores_path
